code {
    font-size: 15px;
}

/* icon from heroicons.com */
.ATO_select {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /></svg>");
	background-position: right .5rem center;
	background-repeat: no-repeat;
	background-size: 1.25rem 1.25rem;
	padding-right: 2rem;
}

.dark .ATO_select {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /></svg>");
}
